.bike-types {
  max-width: 1246px;
  margin-left: auto;
  margin-right: auto;
  padding: 102px 60px 149px 60px;
}

.bike-types__title {
  margin-bottom: 50px;
}

.bike-types__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.bike-types__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bike-types__img {
  position: relative;
  margin-bottom: 20px;
  width: 342px;
}

.bike-types__item:nth-child(3n+1) {
  margin-top: 10px;

  .bike-types__img {
    height: 503px;

    &::before {
      position: absolute;
      z-index: 0;
      content: "";
      bottom: 0;
      left: 0;
      transform: translate(-33%, -92%);
      width: 180px;
      height: 180px;
      border: 27px solid $green;
      border-radius: 50%;
    }
  }
}

.bike-types__item:nth-child(3n+2) {
  margin-top: 40px;

  .bike-types__img {
    height: 566px;

    &::before,
    &::after {
      position: absolute;
      z-index: 2;
      content: "";
      width: 47px;
      height: 47px;
      border: 8px solid $green;
    }

    &::before {
      top: 0;
      left: 0;
      transform: translate(-40%, -38%);
    }

    &::after {
      bottom: 0;
      right: 0;
      transform: translate(50%, 49%);
    }
  }
}

.bike-types__item:nth-child(3n+3) {
  .bike-types__img {
    height: 513px;

    &::before {
      position: absolute;
      z-index: 2;
      content: "";
      top: 0;
      right: 0;
      transform: translate(38%, -33%);
      width: 95px;
      height: 95px;
      border: 17px solid $green;
      border-radius: 50%;
    }
  }
}

.bike-types__img img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.bike-types__item-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: -0.5px;
}


@media (max-width: 1245px) {
  .bike-types__item:nth-child(3n+1) {
    .bike-types__img {
      &::before {
        transform: translate(-29%, 21%);
        width: 127px;
        height: 127px;
        border-width: 18px;
      }
    }
  }

  .bike-types__item:nth-child(3n+2) {
    .bike-types__img {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  .bike-types__item:nth-child(3n+3) {
    .bike-types__img {
      &::before {
        transform: translate(38%, -30%);
        width: 68px;
        height: 68px;
        border-width: 13px;
      }
    }
  }

  .bike-types {
    max-width: none;
    padding: 38px 89px 70px 89px;
  }

  .bike-types__title {
    margin-bottom: 30px;
  }

  .bike-types__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .bike-types__img {
    width: 270px;
    height: 300px;
  }

  .bike-types__item {
    &:nth-child(3n+1),
    &:nth-child(3n+2),
    &:nth-child(3n+3) {
      margin-top: 0;

      .bike-types__img {
        height: 300px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .bike-types__item {
    width: calc(50% - 25px);

    &:nth-child(odd):last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .bike-types__item:nth-child(3n+1) {
    .bike-types__img {
      &::before {
        transform: translate(-20%, 22%);
      }
    }
  }

  .bike-types__item:nth-child(3n+3) {
    .bike-types__img {
      &::before {
        transform: translate(20%, -30%);
      }
    }
  }

  .bike-types {
    padding: 48px 25px 54px 25px;
  }

  .bike-types__list {
    flex-direction: column;
    align-items: center;
    grid-gap: 42px;
  }

  .bike-types__item {
    width: 270px;
  }
}
