$desktop-width: 1440px;
$tablet-width: 1023px;
$mobile-width: 767px;

$white: #ffffff;
$white-smoke: #F6F6F6;
$link-water: #C9CCD4;
$black: #000000;
$black-russian: #131314;
$darkgray: #070707;
$gray: #1C1C1C;
$lightgray: #1F1F1F;
$green: #0AD9C6;

